// Colors
$orange: #E8A90C;
$green: #3BAA87;
$context: 10;

// Mixins
@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
}

// Code
html {
  font-size: 16px;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: url('../img/cream_pixels.png') repeat;
  font-size: 62.5%;
}
header{
  margin-top: 1%;
  text-align: center;
}
  .squarelogo{
    $font: 45;
    display: inline-block;
    border: 5/$font*1em solid $orange; // 5px
    padding: 10/$font*1em; // 10px
    width: 57/$font*1em; // 57px
    font-size: $font/$context*1em; // 45px
  }
  .name {
    $font: 45;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-left: percentage(10/1276);
    font-size: $font/$context*1em; // 45px

    &:hover{
      color: $green;
    }
  }
  .subtitle {
    margin-top: 2%;
    display: block;
    font-weight: normal;
    font-size: 40/$context*1em;
    color: $orange;
  }

.smiley b {
  @include transform(rotate(90deg));
  font-family: "Trebuchet MS";
  font-size: 14em;
  letter-spacing: .05em;
  position: absolute;
  left: 50%;
  margin-left: -68px;
  top: 30%;
}
